<ion-view view-title="Intro">
	 <ion-nav-buttons side="left">
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="!slideIndex">
            Saltar Intro
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="previous()" ng-show="slideIndex > 0">
            Anterior
          </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right"> 
          <button class="button button-positive button-clear no-animation"
                  ng-click="next()" ng-show="slideIndex != 2">
            Siguiente
          </button>
          <button class="button button-positive button-clear no-animation"
                  ng-click="startApp()" ng-show="slideIndex == 2">
            Iniciar App
          </button>
        </ion-nav-buttons>
        <ion-slide-box on-slide-changed="slideHasChanged(index)">
        	<ion-slide>
        		<h3>Thank for choosing the Awesome App!</h3>
        		<div id="logo">
        			<img src=" src="http://code.ionicframework.com/assets/img/app_icon.png" alt="">
        		</div>
        		<p>We've worked super hard to make you happy.</p>
        		<p>But if you are angry, too bad.</p>
        	</ion-slide>
        	<ion-slide>
        		<h3>Usign Awesome App</h3>
        		<div class="" id="list">
        			<h5>Just Three steps:</h5>
        			<ol>
        				<li>Be awesome</li>
        				<li>Stay awesome</li>
        				<li>There is no step 3</li>
        			</ol>
        		</div>
        	</ion-slide>
        	<ion-slide>
        		<h3>Any questions?</h3>
	            <p>
	              Too bad!
	            </p>
        	</ion-slide>
        </ion-slide-box>
</ion-view>